<b>Assignment for Week 3</b>

Load Pandas
Load the data from the html link (wiki) and read it into a Pandas DF
Print head to show we have loaded the data correctly

In [1]:
import pandas as pd
postcode_url = r'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
postcode_data = pd.read_html(postcode_url,header=0)[0]
postcode_data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Filter the dataframe by taking only the rows where the borough is assigned
Reset the index to ensure the indicies reflect the new data

In [2]:
postcode_data = postcode_data[postcode_data.Borough != "Not assigned"].reset_index(drop=True)
postcode_data.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

In [ ]:
Create new column data for neighbourhoods by comma separating the neighbourhoods for same postcode
Then update the dataframe and remove duplicates.

In [3]:
new_ns = [','.join(postcode_data[postcode_data.Postcode == pc].Neighbourhood) for pc in postcode_data.Postcode]
new_n_data = pd.DataFrame({'Neighbourhood': new_ns})
postcode_data.update(new_n_data)
postcode_data = postcode_data.drop_duplicates().reset_index(drop=True)
postcode_data.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

Create new neighbourhood column by converting any not assigned to the borough.
THen simply update the dataframe with new column data.

In [4]:
new_n_data = pd.DataFrame({'Neighbourhood': [r.Neighbourhood if r.Neighbourhood != "Not assigned" else r.Borough
          for i,r in postcode_data.iterrows()]})
postcode_data.update(new_n_data)
postcode_data.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [5]:
postcode_data.shape

(103, 3)

In [6]:
geodata_url = r'http://cocl.us/Geospatial_data'
geodata_df = pd.read_csv(geodata_url)
geodata_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476